.reveal p {
    text-align: left;
    margin-left: 55px;
}
.reveal li {
  color: black; /* Default color for all list items */
}

.reveal li.visible {
  color: black !important; /* The currently revealed item */
}
